<style>
  /* .fluid-text {
    font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1.25rem);
  } */
</style>

<footer class="text-base md:text-lg py-8">
  <div class="h-[2px] bg-black"></div>
  <div class="flex flex-row flex-wrap gap-8 md:gap-12 justify-between my-6">
    <div class="flex flex-row flex-wrap gap-8 md:gap-12">
      <p class="fluid-text">
        Bedřichov 38 <br />
        468 12 <br />
        Česká republika <br />
      </p>
      <p class="fluid-text">
        hramonie-bedrichov@centrum.cz <br />
        +420 606 601 142 <br />
        IČO: 764 587 33 <br />
      </p>
    </div>
    <div class="fluid-text">
      <a>Instagram</a> <br />
      <a>Facebook</a>
    </div>
  </div>
</footer>
