<style>
  /* .fluid-text {
    font-size: clamp(0.75rem, 1vw + 0.5rem, 1.5rem);
  } */
</style>

<footer class="h-60 text-2xl">
  <div class="h-[2px] bg-black"></div>
  <div class="flex flex-wrap gap-4 justify-between my-6">
    <div class="flex flex-row gap-[8vw] w-full sm:w-1/2">
      <p class="whitespace-nowrap fluid-text">
        Bedřichov 38 <br />
        468 12 <br />
        Česká republika <br />
      </p>
      <p class="whitespace-nowrap fluid-text">
        hramonie-bedrichov@centrum.cz <br />
        +420 606 601 142 <br />
        IČO: 764 587 33 <br />
      </p>
    </div>
    <div class="mx-2 whitespace-nowrap fluid-text">
      <a>Instagram</a> <br />
      <a>Facebook</a>
    </div>
  </div>
</footer>
